BACKEND_URL=http://localhost:8000

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY="api key"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN= "take from firebaseconfig"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="take from firebaseconfig"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="take from firebaseconfig"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="take from firebaseconfig"
NEXT_PUBLIC_FIREBASE_APP_ID="take from firebaseconfig"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="take from firebaseconfig"